body, html {
  height:100%;
}
body {
  margin: 0px;
  background-size: 100% 100%;
  background-image: url(http://www.clipartbay.com/cliparts/cartoon-beach-scene-clip-art-wqcx468.svg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}
.topbar {
  height:32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
.player{
  bottom: 0;
  position: absolute;
}
.dancer {
  height: 5em;
  width: 5em;
  position: absolute;
  background-image: url("http://vignette1.wikia.nocookie.net/halo/images/b/b5/Grunt-transparent.png/revision/latest?cb=20090626213308");
  background-repeat: no-repeat;
  background-size: 100%;
}
.expand {
  height: 15em;
  width: 15em;
  animation: expand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.masterchief {
  background-image: url("http://files.gamebanana.com/img/ico/sprays/538148e0dba3b.gif");
}
.spongebob {
  background-image: url("https://media.giphy.com/media/3vOB7lZQvYKoE/giphy.gif");
}
.change-color{
  filter: invert(100%);
}
@keyframes expand {
  0% {
    background-size: 5em;
  }
  50% {
    margin: -5em;
    background-size: 15em;
  }
  100% {
    background-size: 5em;
  }
}
